### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_count = len(school_data_complete.school_name.unique())
print("school count: "+ str(school_count))

student_count = len(school_data_complete["Student ID"])
print(f"student count: {student_count}")

total_budget = sum(school_data["budget"]) #square brackets for school data or . 
#followed by name of column. Sq brackets are better if your column headers has spaces
print(f"Total Budget: ${total_budget}")

school count: 15
student count: 39170
Total Budget: $24649428

In [3]:
#Calculate the average math score
avg_math_score = student_data["math_score"].mean()    
print(f"Average Math Score: {avg_math_score}")

#Calculate the average reading score
avg_read_score = student_data["reading_score"].mean()
print(f"Average Reading Score: {avg_read_score}")

Average Math Score: 78.98537145774827
Average Reading Score: 81.87784018381414

In [4]:
# Calculate the percentage of students with a passing math score (70 or greater)
pct_math_70 = student_data[student_data.math_score >= 70].count().school_name #student_name to display only once the result
print(f"Percent of Students with 70 or greater in Math: {(pct_math_70/student_count)*100}%")

#Calculate the percentage of students with a passing reading score (70 or greater)
pct_read_70 = student_data[student_data.reading_score >= 70].count().school_name
print(f"Percent of Students with 70 or greater in Reading: {(pct_read_70/student_count)*100}%")

#Calculate the percentage of students who passed math and reading (% Overall Passing)
pct_ReadAndMath_70 = student_data[(student_data.reading_score >= 70) & (student_data.math_score >=70)].count().school_name
print(f"Percent of Students who passed Math and Reading: {(pct_ReadAndMath_70/student_count)*100}%")

Percent of Students with 70 or greater in Math: 74.9808526933878%
Percent of Students with 70 or greater in Reading: 85.80546336482001%
Percent of Students who passed Math and Reading: 65.17232575950983%

In [18]:
#Create a dataframe to hold the above results
data =  pd.DataFrame({"Total Schools" : school_count,
        "Total Students" : [student_count],
        "Total Budget" : total_budget,
        "Average Math Score" : avg_math_score,
        "Average Reading Score" : avg_read_score,
        "% Passing Math" : pct_math_70,
        "% Passing Reading": pct_reading_70,
        "% Overall Passing": pct_ReadingAndMath_70})
data

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [6]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [7]:
#Group school_data_complete by school_name
school_summary_groupby = school_data_complete.groupby(['school_name'])

#Group by first row of data
school_summary_df = school_summary_groupby.first()

#Drop columns not needed
school_summary_df.drop(["Student ID", "student_name","gender", "grade", "reading_score", "math_score","School ID", "size"],1,inplace = True)

#Add columns needed

#Add Total Students
school_summary_df["Total Students"] = school_summary_groupby.count()["Student ID"]

#Add Total School Budget


#Per Student Budget

#Calculate the average math score
avg_math_score = school_data_complete["math_score"].mean()
school_summary_df["Average Math Score"] = avg_math_score

# Calculate the average Reading Score
avg_reading_score = school_data_complete["reading_score"].mean()
school_summary_df["Average Reading Score"] = avg_reading_score



school_data_complete[(school_data_complete["math_score"] >= 70)]

school_summary_df

,type,budget,Total Students,Average Math Score,Average Reading Score
school_name,,,,,
Bailey High School,District,3124928,4976,78.985371,81.87784
Cabrera High School,Charter,1081356,1858,78.985371,81.87784
Figueroa High School,District,1884411,2949,78.985371,81.87784
Ford High School,District,1763916,2739,78.985371,81.87784
Griffin High School,Charter,917500,1468,78.985371,81.87784
Hernandez High School,District,3022020,4635,78.985371,81.87784
Holden High School,Charter,248087,427,78.985371,81.87784
Huang High School,District,1910635,2917,78.985371,81.87784
Johnson High School,District,3094650,4761,78.985371,81.87784
Pena High School,Charter,585858,962,78.985371,81.87784
Rodriguez High School,District,2547363,3999,78.985371,81.87784
Shelton High School,Charter,1056600,1761,78.985371,81.87784
Thomas High School,Charter,1043130,1635,78.985371,81.87784
Wilson High School,Charter,1319574,2283,78.985371,81.87784
Wright High School,Charter,1049400,1800,78.985371,81.87784

In [8]:
# % Passing Math  format to use:  
math_70 = student_data[student_data.math_score >= 70].count().school_name
pct_math_70 = (math_70/student_count)*100
print(f"Percent of students with 70 or greater in Math: {pct_math_70}")

Percent of students with 70 or greater in Math: 74.9808526933878

In [9]:
reading_70 = student_data[student_data.reading_score >= 70].count().school_name
pct_reading_70 = (reading_70/student_count)*100
print(f"Percent of students with 70 or greater in Reading: {pct_reading_70}%")
print(pct_reading_70)

Percent of students with 70 or greater in Reading: 85.80546336482001%
85.80546336482001

In [10]:
ReadingAndMath_70 = student_data[(student_data.reading_score >=70) & (student_data.math_score >= 70)].count().school_name
pct_ReadingAndMath_70 = (ReadingAndMath_70 / student_count)*100
print(f"percent passing both: {pct_ReadingAndMath_70}%")

percent passing both: 65.17232575950983%

In [29]:
#Create dataframe:
#School column and studtens passgins math
student_per_school = school_data_complete["school_name"].value_counts()
  
school_passing_math = school_data_complete[school_data_complete.math_score >= 70]
#percentage of pass rate
passRate =school_passing_math.groupby([ "school_name"]).count()["student_name"] / student_per_school *100
passRate


# data =  pd.DataFrame({"School Type" : school_count,
#         "Total Students" : [student_count],
#         "Total Budget" : total_budget,
#         "Average Math Score" : avg_math_score,
#         "Average Reading Score" : avg_read_score,
#         "% Passing Math" : pct_math_70,
#         "% Passing Reading": pct_reading_70,
#         "% Overall Passing": pct_ReadingAndMath_70})

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [12]:
#1:40:00 Pandas Class 1

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type